@model BRS.Models.BusticketViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm("ViewbusTicket", "Bustickets", FormMethod.Post, new { @class = "form-horizontal ", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="login-form container" style="margin-top:200px">
        <h2 class="text-left ">Search Buses</h2>
        <h2 class="text-center"><label class="label label-success">@ViewBag.Message</label></h2>
        <hr />

        <div class="row form-group">
            <div class="col-md-6">

                @Html.LabelFor(a => a.sourceStation)


                @Html.TextBoxFor(a => a.sourceStation, new { @class = "form-control", @placeholder = "Bus Source Station" })
                @Html.ValidationMessageFor(a => a.sourceStation)

            </div>
     
       
            <div class="col-md-6">
                @Html.LabelFor(a => a.desStation)
                @Html.TextBoxFor(a => a.desStation, new { @class = "form-control", @placeholder = "Destination Station" })
                @Html.ValidationMessageFor(a => a.desStation)
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-6 left">
                @Html.LabelFor(m => m.Jdate)

                @Html.TextBoxFor(c => c.Jdate, new { id = "datepicker", @class = "form-control ", data_provide = "datepicker", data_date_format = "yyyy-mm-dd" })
                @Html.ValidationMessageFor(c => c.Jdate)

            </div>


            <div class="col-md-6 right">
                @Html.LabelFor(m => m.rdate)<span>  @Html.CheckBoxFor(a => a.rdates, new { @class = "checkEnable" })</span>
                <div id="Returndate">
                    @Html.TextBoxFor(c => c.rdate, new { id = "Rdatepicker", @class = "form-control ", data_provide = "datepicker", data_date_format = "yyyy-mm-dd" })

                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-12 ">
                <button type="submit" value="Save Bus Info" class="btn btn-default btn-block" />
                <span class="glyphicon glyphicon-search"> Search Buses </span>


            </div>
        </div>



    </div>
 
}
@Scripts.Render("~/bundles/bootstrap")

@Scripts.Render("~/bundles/jquery")
@section scripts
{

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>
    <link href="~/Content/jquery-ui.theme.css" rel="stylesheet" />

    <script type="text/javascript">




        $(document).ready(function () {
            //$('input.timepicker').timepicker({});
            $('#Returndate').hide();
            $('#rdates').change(function () {
                var $this = $(this);
                if ($this.is(':checked')) {
                    $('#Returndate').show();
                } else {
                    $('#Returndate').hide();
                }
            });
     
            var date = new Date();
            date.setDate(date.getDate());

            $('#datepicker').datepicker({
                startDate: date 
            });
            $('#Rdatepicker').datepicker({
                startDate: date
            });

            $("#desStation, #sourceStation").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/Businfo/GetDestination",
                        type: "POST",
                        dataType: "json",
                        data: { Prefix: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { label: item.Name, value: item.Name };
                            }))

                        }
                    })
                },
                messages: {
                    noResults: "",
                    results: function (count) {
                        return count + (count > 1 ? ' results' : ' result ') + ' found';
                    }
                }
            });
                
            //Bus Source Station Auto Complete

            $("#sourceStation").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/Businfo/Getsource",
                        type: "POST",
                        dataType: "json",
                        data: { Prefix: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { label: item.SourceName1, value: item.SourceName1 };
                            }))

                        }
                    })
                },
                messages: {
                    noResults: "",
                    results: function (count) {
                        return count + (count > 1 ? ' results' : ' result ') + ' found';
                    }
                }
            });



        });

    </script>
}