@using System.Web.UI.WebControls
@using BRS.BLL
@using BRS.Models
@model List<BRS.Models.BusInfo>
@{
    ViewBag.Title = "ViewbusTicket";
   Layout = "~/Views/Shared/_Layout.cshtml";
    

}
<link href="~/Content/brs.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/data%20table.bootstrap.css" rel="stylesheet" />

<style>
    #seatInformation {
        display: none;
    }
    .mandatory{
        color:red;
    }

</style>

<div class="login-form  center-block" style="margin-top:200px">
    <h3 class="text-center text-content" id="demoGrid"> View busTicket</h3>
    <h3 class="text-center text-contents "><strong>@ViewBag.sou To @ViewBag.des  Date: @ViewBag.jdate</strong></h3>
    <table class="table table-bordered table-striped table-bordered dt-responsive nowrap text-contents " id="dataTable">
        <thead>
            <tr>
                <th class="text-center table-style ">BUS INFO</th>
                <th class="text-center table-style text-contents">Departure Time</th>
                <th class="text-center table-style ">Arrival Time</th>

                <th class="text-center table-style">  available seat</th>
                <th class="text-center table-style ">Price</th>

                <th class="text-center table-style "></th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var data in Model)
                {
                    <tr class="text-center">
                        <td>
                            <br/>
                            <!--<span id="hiddenid">@data.busNo</span>-->
                            <input type="hidden" id="hiddenid" value="@data.busNo" />
                            <span class="text-info"> @data.busName </span><br />
                            <span>Bus Code :</span><span class="text-info">@data.busCode</span>  <br />
                            <span> Start Point :</span><span class="text-info"> @data.sourceStation </span><br />
                            <span> End Point :</span><span class="text-info">@data.desStation</span>
                        </td>
                        <td style="padding-top:30px"> <span> Departure Time :</span><span class="text-info"> @data.sTime </span></td>
                        <td style="padding-top:30px">
                            <span> Arrival Time :</span><span class="text-info">@data.ETime</span>
                        </td>
                        <td style="padding-top:30px">@data.availSeat</td>
                        <td style="padding-top: 30px;">@data.SetPrice</td>
                        <td style="padding-top:20px"> <input type="button" value="ShowSeat" onclick='UpdateStatus(@data.busNo)' class="btn btn-success"></input>
                            
                        </td>

                       

                      
                    </tr>
                }

            }
        </tbody>
    </table>

    <hr />
    <div class="container" id="seatInformation">
        <div class="">
            <div class="">
                <div class="row">
                    <div class="col-12">
                        <ul class="seat-list">
                            <li>
                                <span class="seat booked">

                                    <div class="hand"></div>
                                </span>
                                <span>Booked (M)</span>
                            </li>
                            <li>
                                <span class="seat booked-female">
                                    <div class="hand"></div>
                                </span>
                                <span>Booked (F)</span>
                            </li>
                            <li>
                                <span class="seat blocked">
                                    <div class="hand"></div>
                                </span>
                                <span>Blocked</span>
                            </li>
                            <li>
                                <span class="seat available">
                                    <div class="hand"></div>
                                </span>
                                <span>Available</span>
                            </li>
                            <li>
                                <span class="seat selected">
                                    <div class="hand"></div>
                                </span>
                                <span>Selected</span>
                            </li>
                            <li>
                                <span class="seat sold">
                                    <div class="hand"></div>
                                </span>
                                <span>Sold (M)</span>
                            </li>
                            <li>
                                <span class="seat sold-female">
                                    <div class="hand"></div>
                                </span>
                                <span>Sold (F)</span>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-6">
                        <div class="seat-selction d-flex">
                            <div class="bus">
                                <div class="driver">
                                    <img src="../images/driver-logo.png">
                                </div>
                                <hr>
                                <div class="seats">
                                    <ul>
                                        <li>
                                            <span class="seat available">
                                                <div class="hand"></div>
                                            </span>
                                        </li>
                                        <li>
                                            <span class="seat available">
                                                <div class="hand"></div>
                                            </span>
                                        </li>
                                        <li>
                                            <span class="seat available">
                                                <div class="hand"></div>
                                            </span>
                                        </li>
                                        <li>
                                            <span class="seat available">
                                                <div class="hand"></div>
                                            </span>
                                        </li>
                                        <li>
                                            <span class="seat available">
                                                <div class="hand"></div>
                                            </span>
                                        </li>
                                        <li>
                                            <span class="seat available">
                                                <div class="hand"></div>
                                            </span>
                                        </li>
                                        <li>
                                            <span class="seat available">
                                                <div class="hand"></div>
                                            </span>
                                        </li>
                                        <li>
                                            <span class="seat available">
                                                <div class="hand"></div>
                                            </span>
                                        </li>
                                        <li>
                                            <span class="seat available">
                                                <div class="hand"></div>
                                            </span>
                                        </li>
                                    </ul>
                                    <ul>
                                        <li>
                                            <span class="seat available">
                                                <div class="hand"></div>
                                            </span>
                                        </li>
                                        <li>
                                            <span class="seat available">
                                                <div class="hand"></div>
                                            </span>
                                        </li>
                                        <li>
                                            <span class="seat available">
                                                <div class="hand"></div>
                                            </span>
                                        </li>
                                        <li>
                                            <span class="seat available">
                                                <div class="hand"></div>
                                            </span>
                                        </li>
                                        <li>
                                            <span class="seat available">
                                                <div class="hand"></div>
                                            </span>
                                        </li>
                                        <li>
                                            <span class="seat available">
                                                <div class="hand"></div>
                                            </span>
                                        </li>
                                        <li>
                                            <span class="seat available">
                                                <div class="hand"></div>
                                            </span>
                                        </li>
                                        <li>
                                            <span class="seat available">
                                                <div class="hand"></div>
                                            </span>
                                        </li>
                                        <li>
                                            <span class="seat available">
                                                <div class="hand"></div>
                                            </span>
                                        </li>
                                    </ul>
                                    <ul>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                        <li></li>

                                    </ul>
                                    <ul>
                                        <li>
                                            <span class="seat available">
                                                <div class="hand"></div>
                                            </span>
                                        </li>
                                        <li>
                                            <span class="seat available">
                                                <div class="hand"></div>
                                            </span>
                                        </li>
                                        <li>
                                            <span class="seat available">
                                                <div class="hand"></div>
                                            </span>
                                        </li>
                                        <li>
                                            <span class="seat available">
                                                <div class="hand"></div>
                                            </span>
                                        </li>
                                        <li>
                                            <span class="seat available">
                                                <div class="hand"></div>
                                            </span>
                                        </li>
                                        <li>
                                            <span class="seat available">
                                                <div class="hand"></div>
                                            </span>
                                        </li>
                                        <li>
                                            <span class="seat available">
                                                <div class="hand"></div>
                                            </span>
                                        </li>
                                        <li>
                                            <span class="seat available">
                                                <div class="hand"></div>
                                            </span>
                                        </li>
                                        <li>
                                            <span class="seat available">
                                                <div class="hand"></div>
                                            </span>
                                        </li>
                                    </ul>
                                    <ul>
                                        <li>
                                            <span class="seat available">
                                                <div class="hand"></div>
                                            </span>
                                        </li>
                                        <li>
                                            <span class="seat available">
                                                <div class="hand"></div>
                                            </span>
                                        </li>
                                        <li>
                                            <span class="seat available">
                                                <div class="hand"></div>
                                            </span>
                                        </li>
                                        <li>
                                            <span class="seat available">
                                                <div class="hand"></div>
                                            </span>
                                        </li>
                                        <li>
                                            <span class="seat available">
                                                <div class="hand"></div>
                                            </span>
                                        </li>
                                        <li>
                                            <span class="seat available">
                                                <div class="hand"></div>
                                            </span>
                                        </li>
                                        <li>
                                            <span class="seat available">
                                                <div class="hand"></div>
                                            </span>
                                        </li>
                                        <li>
                                            <span class="seat available">
                                                <div class="hand"></div>
                                            </span>
                                        </li>
                                        <li>
                                            <span class="seat available">
                                                <div class="hand"></div>
                                            </span>
                                        </li>
                                    </ul>

                                </div>

                            </div>
                            <div class="seat-info">
                                <label for="board">Boarding Point <span class="mandatory">*</span></label>

                                <div class="ant-select-lg wide select ant-select-enabled" style="padding-right: 10px; display: block;">
                                    <div class="ant-select-selection
								           								 ant-select-selection--single" role="combobox" aria-autocomplete="list" aria-haspopup="true" aria-expanded="false" tabindex="0">
                                        <div class="ant-select-selection__rendered">
                                       <input type="text" />
                                        </div>
                                        <span class="ant-select-arrow" unselectable="on" style="user-select: none;"><b></b></span>
                                    </div>
                                </div>
                                <label for="Drop">
                                    Droping Point <span class="mandatory">*</span>
                                </label>
                                <div class="ant-select-arrow">
                                    <input type="text" name="" id="Destination" ><span id="Destination"></span></div>
                                <br>
                                <hr>
                                <h6>Seat Information</h6>
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Seat</th>
                                            <th>Class</th>
                                            <th>Fare</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                                <div class="total">
                                    <p>
                                        Sub Total: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="subTotal">0 &nbsp;  &nbsp;</span>&nbsp;৳
                                    </p> <hr>
                                    <p>
                                        Service Charge: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <span id="Stotal">0 &nbsp;  &nbsp;</span>&nbsp;৳
                                    </p> <hr>
                                    <p>
                                        Grand Total: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        &nbsp;&nbsp;&nbsp;&nbsp;<span id="myspan">0 &nbsp;  &nbsp;</span>&nbsp;৳
                                    </p> <hr>
                                    <p  id="clickme">Click me: 0</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="body-overlay">
                        <form >
                            <div class="from-group row">
                                <div class="col-md-6">
                                    <label>YOUR MOBILE NUMBER</label>
                                    <span class="mandatory">*</span>

                                    <input type="text" required />
                                </div>
                                <div class="col-md-6" style="display:inline-block; margin-top:20px">
                                    <input type="button" value="Verify" class="btn btn-success btn-block" style="width:50%" />
                                </div>
                            </div>
                        </form>
                        
                    </div>


                </div>
            </div>
        </div>
    </div>





</div>

    <!------------------------------To-do list---------------------->
    <!------------------------------To-do list---------------------->
    @Scripts.Render("~/bundles/bootstrap")

    @Scripts.Render("~/bundles/jquery")
    @section scripts
    {
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="~/Scripts/jquery-3.3.1.js"></script>

        <script src="~/Scripts/jquery.dataTables.min.js"></script>
        <script>


    // Data Table
    $(document).ready(function () {
        $('#dataTable').DataTable({
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            "pagingType": "full_numbers"
        });
    });

    //Hide and Show Seat
    //==================Button Click======================
            @*var BusNoo = 0;
            $('#Button1').click(function () {
                $('#seatInformation').toggle();
                BusNoo = $('#hiddenid').val();
                console.log(BusNoo);
                $.ajax({
                    type: 'GET',
                    data: { id: BusNoo },

                    url: '@Url.Action("SelecteBusno", "Employee")',

                    success: function (result) {
                        console.log(result);

                    }
                });


            });*@

            var SeatPrice, ASeat, Destination;

            var count = 0;
            var theTotal = 0;
            function UpdateStatus($var1) {
                console.log("fired");
                count = 0;
                theTotal = 0;
                if ($('.seats .available').hasClass('selected')) {
                    console.log('clicked');
                    
                    $('.seats .available').removeClass('selected');
                    document.getElementById("subTotal").textContent = 0;
                    document.getElementById("Stotal").textContent = 0;
                    document.getElementById("myspan").textContent = 0;
                                     

                }
                //make an ajax call and get status value using the same 'id'
                //  var var1 = document.getElementById('hiddenid').value;
                var value = $var1;
                $('#seatInformation').toggle();
                console.log(value);
                    $.ajax({
                    type: 'GET',
                    data: { Id: value },

                    url: '@Url.Action("SelecteBusno", "Employee")',

                    //  (or whatever your url is)


                    //can send multipledata like {data1:var1,data2:var2,data3:var3
                    //can use dataType:'text/html' or 'json' if response type expected
                        success: function (responsedata) {
                            console.log(responsedata);
                            console.log(100);
                            SeatPrice = 0;
                            for (var i = 0; i < responsedata.length; i++) {
                                var BusName = responsedata[i].busName;
                                 SeatPrice = responsedata[i].SetPrice;
                                 ASeat = responsedata[i].availSeat;
                                 Destination = responsedata[i].desStation;
                                 console.log(SeatPrice);
                                 
                            }
                            
                             // process on data
                           // alert("got response as " + "'" + responsedata + "'")
                    }
                    })


            }




            
            

            $('.seats .available').click(function () {
                if ($(this).hasClass('selected')) {
                    console.log('clicked');
                    $(this).removeClass('selected');

                    count = Number(count) - 1;
                    document.getElementById("clickme").textContent = count;
                    theTotal = Number(theTotal) - SeatPrice;
                    if (count == 0) {
                        document.getElementById("subTotal").textContent = 0;
                        document.getElementById("Stotal").textContent = 0;
                        document.getElementById("myspan").textContent = 0;
                    }
                    else {
                        document.getElementById("subTotal").textContent = theTotal;
                        document.getElementById("Stotal").textContent = 30;
                        document.getElementById("myspan").textContent = theTotal + 30;
                    }

                }
                else {
                    theTotal = Number(theTotal) + SeatPrice;

                    if (count < 4) {
                        $(this).addClass('selected');
                        count = Number(count) + 1;
                        $('#tussenstand').val("Total:" + theTotal);
                        document.getElementById("subTotal").textContent = theTotal;
                        document.getElementById("Stotal").textContent = 30;
                        document.getElementById("myspan").textContent = theTotal + 30;
                        document.getElementById("Destination").textContent = Destination;

                        document.getElementById("clickme").textContent = count;
                    }
                    else {
                        window.alert("Maximum Seat limit is 4 per Booking");
                    }
                }



            });
        </script>
    }
