@model BRS.Models.Userlogin

@{
    ViewBag.Title = "Login";
    //s = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/login.css" rel="stylesheet" />
<button onclick="document.getElementById('id01').style.display='block'" style="width: auto;">Login your account</button>
<div id="id01" class="modal">
    @using (Html.BeginForm("Login", "User", FormMethod.Post, new { @class = "modal-content animate", role = "form" }))
    {
        <fieldset>
            

            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @if (@ViewBag.Message != null)
            {
                <div style="border: 1px solid red">
                    @ViewBag.Message
                </div>
            }

            <div class="imgcontainer">
                <span onclick=" document.getElementById('id01').style.display = 'none' " class="close" title="close modal">&times;</span>
                <img src="../images/login.png" alt="Avatar" class="avatar">
            </div>
            <div class="container">

                @Html.LabelFor(a => a.userName, new { @class = "" })
                @Html.TextBoxFor(a => a.userName, new { @class = "textboxf" })
                <b>@Html.ValidationMessageFor(a => a.userName)</b><br />

                @Html.LabelFor(a => a.Password, new { @class = "" })

                @Html.PasswordFor(a => a.Password, new { @class = "textboxf" })

                <b>@Html.ValidationMessageFor(a => a.Password)</b>

                <button type="submit" class="login-btn">Login</button>
                <label>
                    <input type="checkbox" checked="checked" name="remember" name=""> Remember me
                </label>
            </div>
            <div class="container" style="background-color: #f1f1f1">
                <button type="button" onclick=" document.getElementById('id01').style.display = 'none' " class="cancelbtn">Cancel</button>
                <span class="psw">Forgot <a href="#">Password?</a></span>
            </div>


                @*<div class="user_box_login user_box_link"><button onclick="document.getElementById('id01').style.display='block'" style="width: auto;">Login</button></div>
            ----------------------------------------Login Form-----------------------------------------------

            <div id="id01" class="modal">
                @using (Html.BeginForm("login", "User", FormMethod.Post, new { @class = "modal-content animate", role = "form" }))
                {

                    <div class="imgcontainer">
                        <span onclick=" document.getElementById('id01').style.display = 'none' " class="close" title="close modal">&times;</span>
                        <img src="../images/login.png" alt="Avatar" class="avatar">
                    </div>
                    <div class="container">

                        @Html.LabelFor(a => a.userName, new { @class = "inputtext" })

                        @Html.TextBoxFor(a => a.userName, new{ @class="inputtext"})

                        @Html.ValidationMessageFor(a => a.userName)
                        @Html.LabelFor(a => a.password)
                        @Html.PasswordFor(a => a.Password)
                        @Html.ValidationMessageFor(a => a.Password)
                        <button type="submit" class="login-btn">Login</button>
                        <label>
                            <input type="checkbox" checked="checked" name="remember" name=""> Remember me
                        </label>
                    </div>
                    <div class="container" style="background-color: #f1f1f1">
                        <button type="button" onclick=" document.getElementById('id01').style.display = 'none' " class="cancelbtn">Cancel</button>
                        <span class="psw">Forgot <a href="#">Password?</a></span>
                    </div>
                }
            </div>*@


</fieldset>
    }
    </div>


